.toastr-container {
  position: fixed;
  width: 350px;
  padding: 10px;
  &.top-left {
    top: 0;
    left: 0;
  }
  &.top-right {
    top: 0;
    right: 0;
  }
  &.bottom-left {
    bottom: 0;
    left: 0;
  }
  &.bottom-right {
    bottom: 0;
    right: 0;
  }
  &.top-center {
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  &.bottom-center {
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
// .toastr {
//   background-color: #ff00a5;
//   width: 90%;
//   margin: 0px auto 10px;
//   height: 50px;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #fff;
//   font-weight: 500;
//   &.info {
//     background-color: #0285B3;
//   }
//   &.success {
//     background-color: #00A86B;
//   }
//   &.warning {
//     background-color: #F8B41B;
//   }
//   &.error {
//     background-color: #DE3122;
//   }
// }




@keyframes fadeInLeft {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 100px;
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    max-height: 100px;
    margin-bottom: 10px;
  }

  to {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0px;
  }
}



// Animation classes
.fade-enter {
  animation-name: fadeInLeft;
  animation-duration: 400ms;
}
.fade-enter-active {
  animation-name: fadeInLeft;
  animation-duration: 400ms;
}
.fade-exit {
  animation-name: fadeOutLeft;
  animation-duration: 400ms;
}
.fade-exit-active {
  animation-name: fadeOutLeft;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}