.toastr-container {
  position: fixed;
  width: 200px;
  &.top-left {
    top: 0;
    left: 0;
  }
  &.top-right {
    top: 0;
    right: 0;
  }
  &.bottom-left {
    bottom: 0;
    left: 0;
  }
  &.bottom-right {
    bottom: 0;
    right: 0;
  }
}
.toastr {
  background-color: #ff00a5;
  width: 90%;
  margin: 10px auto;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  &.info {
    background-color: #0285B3;
  }
  &.success {
    background-color: #00A86B;
  }
  &.warning {
    background-color: #F8B41B;
  }
  &.error {
    background-color: #DE3122;
  }
}


// Animation classes
.fade-enter {
  // opacity: 0;
  // top: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .3s ease-in, opacity .3s ease-in;
}
.fade-enter-active {
  // opacity: 1;
  // top: 0;
  // transition: all 500ms;
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
}
.fade-exit {
  // opacity: 1;
  // top: 0;
  max-height: 500px;
  opacity: 1;
  transition: max-height .3s ease-out, opacity .3s ease-out, margin-bottom .3s ease-out;
  overflow: hidden;
  margin-bottom: 10px;
}
.fade-exit-active {
  // opacity: 0;
  // top: -20px;
  // transition: all 500ms;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0px;
}